body {
  background-color: #def7f6; }

.warning {
  background-color: #fff;
  margin: 2em;
  padding: 1em 2em;
  border: 2px solid red;
  border-radius: 1em; }

#dragonfly {
  margin-top: 0em;
  width: 30em;
  height: 30em;
  border: 3px solid red;
  background: url("./../images/tevka_dragonfly.jpg") no-repeat 50% 50%;
  background-size: 30em; }

.parts {
  width: 20em;
  padding: 0.75em;
  background: #BE9C3D;
  position: relative;
  top: 1em;
  left: -5em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  transform: rotate(-20deg); }

.parts {
  width: 20em;
  padding: 0.75em;
  background: #BE9C3D;
  position: relative;
  top: 1em;
  left: -5em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  ransform: rotate(-20deg); }

.parts:before {
  content: "";
  position: absolute;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #DAB929;
  border-bottom: 13px solid transparent; }

.wingLeft {
  border-radius: 2em;
  width: 7.5em;
  height: 4em;
  position: absolute;
  top: 10.7em;
  left: 14.8em;
  transform: rotate(-42deg); }

.wingRight {
  border-radius: 2em;
  width: 7.5em;
  height: 4em;
  position: absolute;
  top: 17em;
  left: 9em;
  transform: rotate(-45deg); }

.thorax {
  display: block;
  width: 1.5em;
  height: 4.6em;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 80% 80% 20% 20% / 100% 100% 40% 40%;
  position: absolute;
  top: 14.2em;
  left: 15.6em;
  transform: rotate(-49deg); }

.headFly {
  border-radius: 1em;
  width: 1.6em;
  height: 1.6em;
  position: absolute;
  top: 17.8em;
  left: 18em;
  transform: rotate(5deg); }

.container {
  width: 100%;
  box-sizing: border-box; }

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both; }

/* determine how many columns you will have and divide 100 by that. so if 6 columns is how many you want, div 100 by 6. 1 col would be 16.67% */
/* css attribute selector to cover all col-  --> [class*='col-'] */
/* starting off with handheld -- mobile first */
[class*='col-'] {
  /*   float: left; */
  min-height: 1px;
  padding: 8px 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
  width: 100%;
  float: left; }

/* media query breakpoints:
phone 480px;
pad 768px;
laptop 1200 to 1600 */
@media (min-width: 480px) {
  .col-1, .col-2 {
    width: 49%;
    float: left; }

  .col-3, .col-4, .col-5, .col-6 {
    width: 100%; } }
@media (min-width: 768px) {
  .col-1 {
    width: 33%;
    float: left; }

  .col-2 {
    width: 49%;
    float: left; }

  .col-3 {
    width: 67%;
    float: left; }

  .col-4, .col-5, .col-6 {
    width: 100%; } }
@media (min-width: 1200px) {
  .container {
    padding: 1em; }

  .col-1 {
    width: 14%;
    float: left; }

  .col-2 {
    width: 33%;
    float: left; }

  .col-3 {
    width: 50%;
    /*     margin: 0 25%; */ }

  .col-4 {
    width: 66%;
    float: left; }

  .col-5 {
    width: 83%;
    float: left; }

  .col-6 {
    width: 100%; } }

/*# sourceMappingURL=main.css.map */
